<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
  <script>
    window.goatcounter = {
        path: function(p) { return location.host + p }
    }
</script>
<script data-goatcounter="https://wheresalice.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
<body>
    <h1>{{ site.tag_text }}</h1>
    {{ content }}
    <div id="footer">
      <a href="https://twitter.com/AliceConsortium" rel="me">Twitter</a> | <a href="https://wheresalice.envs.net/blog" rel="me">Blog</a> | <a href="https://github.com/wheresalice" rel="me">GitHub</a> | <a href="https://www.youtube.com/@AliceConsortium/" rel="me">YouTube</a>
    </div>
</body>
</html>
